# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
terraform.tfvars.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# AWS
aws-env.sh
*.json

# IDE
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db
